* {
  margin: 0;
  padding: 0;
}

:root {
  --bg: linear-gradient(45deg, #f8a530 0%, #fb3cab 100%);
  --dark: #181818;
}

html,
body {
  overflow: hidden;
  background-color: var(--dark);
  color: #fff;
  font-family: 'Nunito', monospace;
}

.text {
  position: absolute;
  top: 50%;
  text-align: center;
  
  animation-delay: 5s;
  animation: 2s appear ease-out forwards;

  cursor: default;
  user-select: none;
  -webkit-user-select: none; /*Safari*/
  -moz-user-select: none; /*Firefox*/
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-40%);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%);
  }
}

.text .fours {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
}

.text .fours p {
  font-size: 17rem;
}

.sketch {
    margin-left:auto;
    margin-right:auto;
    display:block;

    /* Dimentions */
    width: auto;
    height: 100vh;

    /* Animation */
    stroke-dasharray: 18975.623046875px;
    stroke-dashoffset: 18975.623046875px;
    animation: move 7s cubic-bezier(0.93, 0.15, 0.14, 0.88) forwards;
    stroke: #fff;
}

@keyframes move {
  100% {
    stroke-dashoffset: 0;
  }
}
