* {
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100%;
    overflow: hidden;
  }
  
  body {
    font-family: "Avenir Next", Helvetica, sans-serif;
    font-weight: normal;
    font-size: 100%;
    position: relative;
  
    color: #fff;
    background: #1f1f1f;
  }
  
  .Loop {
    position: relative;
    height: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: y mandatory;
  }
  
  section {
    position: relative;
    height: 100%;
    scroll-snap-align: start;
  }
  
  /* Removing Scrollbar */
  main::-webkit-scrollbar {
    display: none;
  }
  main {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .one {
    color: #be0575;
  }
  .one .call-to-action {
    background-color: #be0575;
  }
  
  .two {
    color: #f62336;
  }
  
  .three {
    color: #ff6611;
  }
  .three .call-to-action {
    background-color: #ff6611;
  }
  
  .four {
    color: #ffec4a;
  }
  
  .five {
    color: #008afb;
  }
  .five .call-to-action {
    background-color: #008afb;
  }
  
  .content {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
  }
  
  .content .call-to-action {
    border: none;
    border-radius: 100px;
    padding: 1rem 1.5rem;
    margin: 1rem;
    color: white;
    font-size: 1.25rem;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
  
  .content h1 {
    font-size: 4rem;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  
  .content p {
    margin: 1rem 15rem;
    line-height: 1.5em;
    text-indent: 2em;
    text-align: left;
    color: white;
  }
  
  .content ul {
    margin: 1rem 17rem;
    line-height: 1.5em;
    text-align: left;
    color: white;
  }
  
  .team-icons {
    margin: 1rem 10rem 0 10rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
  }
  
  .team-icons img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin: .5rem;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
  }
  
  .content label {
    line-height: 1.5rem;
  }
  
  .content .field {
    height: 1.5rem;
    width: 20rem;
    border: none;
    border-radius: 100px;
    margin: .25rem;
    padding: .5em 1em;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
  
  .content .message {
    height: 7rem;
    width: 24rem;
    resize: none;
    margin: .25rem;
    border-radius: 20px;
    font-family: "Avenir Next", Helvetica, sans-serif;
  }
  
  @media only screen and (max-width: 480px) {
    .content h1 {
      font-size: 2rem;
    }
  
    .content p {
      margin: 1rem 3rem;
      font-size: 1rem;
    }
  
    .content ul {
      margin: 2rem 4rem;
      font-size: 1rem;
    }
  
    .content .call-to-action {
      margin: .25rem;
    }
  
    .team-icons {
      justify-content: center;
      margin: .5rem;
    }
  
    .team-icons img {
      width: 40px;
      height: 40px;
    }
  
    .content .field {
      width: 11rem;
    }
    .content .message {
      width: 15rem;
    }
  }