* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', monospace;
}

:root {
--bg: linear-gradient(45deg, #f8a530 0%, #fb3cab 100%);
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  font-weight: normal;
  font-size: 100%;
  position: relative;

  color: #fff;
  background: #181818;
}

.Loop {
  position: relative;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: none;
  scroll-snap-type: y mandatory;
}

section {
  position: relative;
  height: 100%;
  scroll-snap-align: start;
}

/* Removing Scrollbar */
main::-webkit-scrollbar {
  display: none;
}
main {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.content {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-55%);
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
}

.content .call-to-action {
  border: none;
  border-radius: 100px;
  padding: 1rem 1.5rem;
  margin: 1rem;
  
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
  text-shadow: 0 0 3px #582509;
  
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: 300ms ease;
  background: var(--bg);
}

.content .call-to-action:hover {
  transform: scale(1.03) translateY(-0.2rem);
  box-shadow: 0px 0px 15px rgba(0,0,0,0.83);
}

.content .call-to-action:focus {
  box-shadow: 0px 0px 15px rgba(0,0,0,0.69);
}

.content h1,
.content h2 {
  margin-bottom: 1rem;

  background: var(--bg);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content h1 {
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.content h2 {
  font-size: 2rem;
  font-weight: 900;
}

.content p {
  margin: 0 15rem;
  line-height: 1.5em;
  text-indent: 2em;
  text-align: left;
  color: white;
}

.content ul {
  margin: 1rem 17rem;
  line-height: 1.5em;
  text-align: left;
  color: white;
}

.team-icons {
  margin: 0 15rem;
  display: block;
}

.team-icons img {
  width: 60px;
  height: 60px;

  background: var(--bg);
  padding: 3px;
  border-radius: 50%;

  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  
  margin: .5rem;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.team-icons img:hover {
  transform: scale(1.1);
  -webkit-filter: grayscale(0);
  filter: none;
}

.content label {
  margin-right: .5rem;
  vertical-align: top;
}

.content .field {
  height: 1.5rem;
  width: 20rem;
  border: none;
  border-radius: .5rem;
  margin: .25rem;
  padding: .5em 1em;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.content .field:focus {
  outline: 0;
  box-shadow: 0;
}

.content .message {
  height: 5rem;
  resize: none;
}

@media only screen and (max-width: 480px) {
  .content h1 {
    font-size: 2rem;
  }

  .content p {
    margin: 1rem 3rem;
    font-size: 1rem;
  }

  .content ul {
    margin: 2rem 4rem;
    font-size: 1rem;
  }

  .content .call-to-action {
    margin: .25rem;
  }

  .team-icons {
    justify-content: center;
    margin: 3rem;
  }

  .team-icons img {
    width: 40px;
    height: 40px;
    margin: .5rem;
  }

  .content label {
    font-size: 1rem;
  }

  .content .field {
    width: 11rem;
  }
}